<input class="form-control" id="pac-input" class="controls" type="text" placeholder="Enter a location" >
<div id="article-page" ng-class="sidebarClosed" >
  <div id="mapCanvas" class="full "></div>
  <div id="sidebar-wrapper">
    <div class="row vertical-offset-70">
      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <form class="add-poi-form">
          <h4 class="strong-header">Add a new poi</h4>
          <hr />
          <div class="form-group">
            <label for="poi-name">Name:</label>
            <input type="text" class="form-control" id="poi-name" ng-model="poi.name" placeholder="Poi name...">
          </div>
          <div class="form-group row action-message">
            <div class="col-md-12">
              <div>Add an activity message: <span class="fa fa-plus" ng-click="addAction()"></span></div>
              <hr />
            </div>
            <div id="key-value-template" class="key-value">
              <div class="col-md-5">
                <select type="text" class="form-control margin-8">
                  <option value="walking">Walking</option>
                  <option value="running">Running</option>
                  <option value="still">Still</option>
                  <option value="car">Car</option>
                  <option value="train">Train</option>
                </select>
              </div>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="Poi message...">
              </div>
            </div>

          </div>
          <hr />

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label"><i class="fa fa-clock-o"></i> Start:</label><br>
              <div class="form-group">
                <input type="text" class="form-control" size="8" ng-model="poi.from" name="time" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label"><i class="fa fa-clock-o"></i> Stop:</label><br>
              <div class="form-group">
                <input type="text" class="form-control" size="8" ng-model="poi.to" name="time" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker">
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-sm" ng-click="savePoi(poi)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<span class="btn btn-secondary fa fa-navicon" id="navigation-toggle" ng-click="toggleSidebar()"></span>
