<div class="jumbotron event">
    <div class="container animated fadeInLeft">
        <h1 class="display-4">{{project.title}}</h1>
        <p class="text-mute"><em>{{project.address}}</em></p>
        <p class="text-muted large">Goal reached: <span class="label" ng-class=" project.goalReached ? 'label-success' : 'label-warning'">{{project.goalReached}}</span></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeInRight">
            <span>Campaing progress: </span>
            <div class="progress-custom lg w3-light-grey">
                <div class="color-blue progress-bar-custom" ng-style="{width: project.finalFundings/project.fundingGoal*100 +'%'}">{{project.finalFundings/project.fundingGoal*100 | number : 1}}%</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-left">
                    <h1 class="display-4"><strong>{{project.finalFundings}}</strong> <small>eth</small></h1>
                    <p class="lead">Amount Raised</p>
                </div>
                <!--/col-->
                <div class="col-xs-12 col-sm-6 text-right">
                    <h1 class="display-4"><strong> {{project.fundingGoal}} </strong><small>eth</small> </h1>
                    <p class="lead">Funding Goal</p>
                </div>
                <!--/col-->
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 ">
                    <h3><small>Deadline:</small> <span class="lead">{{project.deadline | date: "dd MMM yyyy 'at' HH:mm"}}</span></h3>
                </div>
                <div class="input-group col-xs-12 col-sm-6 " ng-show="!project.goalReached">
                    <input type="number" class="form-control" placeholder="" ng-model="backAmount" />
                    <span class="input-group-btn"><button type="button" ng-click="fundProject(project.address, backAmount)" class="btn btn-primary"> Fund </button></span>
                </div>
            </div>
            <hr/>
            <!--1st Large Banner Image -->
            <h3>Description</h3>
            <p class="lead">{{project.description}}</p>


            <!--&& project.creator === user.address-->
            <div class="input-group" ng-show="project.goalReached && project.creator === user.address">
                <input type="number" class="form-control" placeholder="" ng-model="withdrawAmount" />
                <span class="input-group-btn"><button type="button" ng-click="withdrawProject(project.address, withdrawAmount)" class="btn btn-warning"> Withdraw </button></span>
            </div>
            <div class="input-group" ng-show="project.goalReached && project.creator != user.address">
                <span class="input-group-btn"><button type="button" ng-click="claimShares(project.address, project.token)" class="btn btn-warning"> Claim Shares </button></span>
            </div>

        </div>
    </div>
</div>