<div id="background"></div>
<div id="content">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
        <div class="panel panel-default animated fadeInDown">
          <div class="panel-heading">
            <div class="row-fluid user-row">
              <img src="css/images/logo-pin.png" class="img-responsive" alt=""/>
            </div>
          </div>
          <div class="panel-body vertical-offset-50">
            <form accept-charset="UTF-8" role="form" class="form-signin" ng-submit="signup()">
              <fieldset>
                <input class="form-control" placeholder="Name" name="given_name" type="text" ng-model="user.name">
                <input class="form-control" placeholder="Surame" name="family_name" type="text" ng-model="user.lastname">
                <input class="form-control" placeholder="Email" name="email" type="email" ng-model="user.email">
                <input class="form-control" placeholder="Password" name="pass" type="password" ng-model="user.pass">
                <br>
                <div align="center">
                  <label id="radioSex1" class="radio-inline">
                    <input type="radio" name="sex" id="inlineRadio1" value="male" ng-model="user.sex">
                    <span class="glyphicon glyphicon-user">Male</span>
                  </label>
                  <label id="radioSex2" class="radio-inline">
                    <input type="radio" name="sex" id="inlineRadio2" value="female" ng-model="user.sex">
                    <span class="glyphicon glyphicon-user">Female</span>
                  </label>
                </div>
                <p class="text-danger">
                  <b>{{error}}</b>
                </p>
                <p class="text-success">
                  <b>{{info}}</b>
                </p>
                <input class="btn btn-lg btn-success btn-block" type="submit" id="reg" name="submit" value="Signup">
                <div id="register">  <a href="/#/login">Login</a>  </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
