<div class="container large-container">
    <div class="row">
        <div class="col-md-4 vertical-offset-30">
            <h4 class="strong-header">User list</h4>
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="search-query form-control" placeholder="Search..." ng-model="userFilter" />
                    <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">
              <span class="fa fa-search text-primary"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-inline col-lg-12" ng-class="{'has-error': datepickerForm.date.$invalid}">
                    <label><b>Select day:</b></label>
                    <input type="text" class="form-control" ng-model="selectedDate" name="date" bs-datepicker placeholder="Select day...">
                </div>
            </div>

            <hr />
            <ul class="list-group">
                <a class="list-group-item" ng-repeat="user in userList | filter: userFilter" ng-click="setMap($index)">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <img class="img-user-list" src="css/images/user.png" />
                            <span class="label label-primary">{{user.type}}</span>
                        </div>
                        <div class="col-md-10">
                            <h4 class="list-group-item-heading">{{user.name}} {{user.lastname}}</h4>
                            <p class="text-muted"><i>{{user._id}}</i></p>
                        </div>
                    </div>

                </a>
            </ul>
        </div>
        <div class="col-md-8">
            <div id="mapCanvas" class="half"></div>
        </div>
    </div>
</div>